@mixin breakpoint($point) {
	@if $point == tablet-potrait {
		@media (min-width: 750px) {
			@content;
		}
	}

	@if $point == tablet-landscape {
		@media (min-width: 1024px) {
			@content;
		}
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
		top: 62%;
	}

	50% {
		opacity: 1;
		top: 60%;
	}

	100% {
		opacity: 0;
		top: 58%;
	}
}


@include breakpoint(tablet-potrait) {
	@keyframes fadeInOut {
		0% {
			opacity: 0;
			top: 20%;
		}

		50% {
			opacity: 1;
			top: 18%;
		}

		100% {
			opacity: 0;
			top: 16%;
		}
	}
}

@include breakpoint(tablet-landscape) {
	@keyframes fadeInOut {
		0% {
			opacity: 0;
			top: 40%;
		}

		50% {
			opacity: 1;
			top: 38%;
		}

		100% {
			opacity: 0;
			top: 36%;
		}
	}
}
