@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$appFont: 'Roboto Slab', serif;
$itemHeaderBackground: #5d9695;
$basicTextColor: #666;
$headerTextColor: #fff;
$transitionTime: 0.3s;